.IsMaskOn__Wrapper {
  padding: 1%;
}

.IsMaskOn-result {
  font-weight: bold;
  font-size: 2rem;
}

@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");
/* CLOUDS */
/* body:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 0;
  height: 0;
  margin: auto;
  border-radius: 100%;
  background: transparent;
  display: block;
  box-shadow: 0 0 150px 100px rgba(255, 255, 255, 0.6),
    200px 0 200px 150px rgba(255, 255, 255, 0.6),
    -250px 0 300px 150px rgba(255, 255, 255, 0.6),
    550px 0 300px 200px rgba(255, 255, 255, 0.6),
    -550px 0 300px 200px rgba(255, 255, 255, 0.6);
} */

/* JUMP */
h1 {
  cursor: default;
  position: relative;
  top: 0;
  width: 100%;
  height: 100px;
  margin: auto;
  display: block;
  text-align: center;
  font-family: "Luckiest Guy", cursive;
}

h1 span {
  font-family: "Jua", sans-serif;
  position: relative;
  top: 20px;
  display: inline-block;
  animation: bounce 0.3s ease infinite alternate;
  font-size: 80px;
  color: #fd7468;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
    0 5px 0 #ccc, 0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent,
    0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, 0.4);
}

h1 span:nth-child(2) {
  animation-delay: 0.1s;
}

h1 span:nth-child(3) {
  animation-delay: 0.2s;
}

h1 span:nth-child(4) {
  animation-delay: 0.3s;
}

h1 span:nth-child(5) {
  animation-delay: 0.4s;
}

h1 span:nth-child(6) {
  animation-delay: 0.5s;
}

h1 span:nth-child(7) {
  animation-delay: 0.6s;
}

h1 span:nth-child(8) {
  animation-delay: 0.2s;
}

h1 span:nth-child(9) {
  animation-delay: 0.3s;
}

h1 span:nth-child(10) {
  animation-delay: 0.4s;
}

h1 span:nth-child(11) {
  animation-delay: 0.5s;
}

h1 span:nth-child(12) {
  animation-delay: 0.6s;
}

h1 span:nth-child(13) {
  animation-delay: 0.7s;
}

h1 span:nth-child(14) {
  animation-delay: 0.8s;
}

/* ANIMATION */
@keyframes bounce {
  100% {
    top: -20px;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
      0 5px 0 #ccc, 0 6px 0 #ccc, 0 7px 0 #ccc, 0 8px 0 #ccc, 0 9px 0 #ccc,
      0 50px 25px rgba(0, 0, 0, 0.2);
  }
}
